.autosoloevent__compactcell {
  padding: 8px 12px 8px 8px !important;
  text-align: right;
}

.autosoloevent__input input {
  text-align: right;
  width: 2rem;
  padding:4px;
}

.autosoloevent__total {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.autosoloevent__compactheader {
  padding: 14px 14px 14px 32px !important;
}

.autosoloevent__tableheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.autosoloevent__select {
  min-width: 80px;
}

.autosoloevent__formcontrol {
  padding-right: 4px !important;
}

.autosoloevent__filters {
  display: flex;
  align-items: center;
}