.autosolograph__filters {
  display: flex;
  align-items: center;
}

.autosolograph__namefilters {
  min-width: 220px;
}

.autosolograph__tableheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.autosolograph__formcontrol {
  padding-right: 4px !important;
}

.autosolograph__select {
  min-width: 80px;
}