.autosolodrivers__numbercell {
  width: 2em;
}

.autosolodrivers__namecell {
  width: 100%;
}

.autosolodrivers__tablecontainer {
  overflow: auto;
}

.autosolodrivers__addbutton {
  position: fixed !important;
  right: 68px;
  top: 88px;
}