.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-paper {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.App-paper-with-buttons {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

.App-table-overflow {
  overflow: auto;
}
